:root {
  --primary-color: rgb(50, 93, 110);
  --secondary-color: #446d7c;
  --tertiary-color: #e3f2f5;
  --progress-bar-width: 230px;
  --progress-bar-height: 230px;
  --font-size: 2rem;
}

body {
  background-color: var(--primary-color);
}

.circle-wrapper {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: dashed;
  border-color: var(--secondary-color);
}

.circular-progress {
  width: var(--progress-bar-width);
  height: var(--progress-bar-height);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent
  }
  
  .inner-circle {
    position: absolute;
    width: calc(var(--progress-bar-width) - 10px);
    height: calc(var(--progress-bar-height) - 10px);
    border-radius: 50%;
    background-color: var(--secondary-color);
  }
  
  .inner-circle1 {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #6cdbe7;
  }
  
  .percentage {
    z-index: 1;
  }
  
  input[type=range] {
    accent-color: var(--tertiary-color) !important;
    mix-blend-mode: plus-lighter;
    padding: 0px;
  }
  
  .bar-wrapper {
    text-align: -webkit-center;
  }
  
  .bar {
    height: 25px;
    border-radius: 50px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background: var(--secondary-color);
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .active {
    background: var(--tertiary-color);
}

.first {
  width: 50px;
}

.second {
  width: 80px;
}
.third {
  width: 120px;
}
.fourth {
  width: 160px;
}

.fifth {
  width: 200px;
}